html {
  box-sizing: border-box;
  font-family: "Raleway", "Open Sans", Tahoma, "Geneva", Arial, sans-serif;
  font-size: 62.5%;
  background-color: rgba(255, 228, 196, 0.2);
}

*, ::before, ::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  color: indigo;
}

.clearfix::before, .clearfix::after {
  display: table;
  content: "";
}

.clearfix::after {
  clear: both;
}

.hidden {
  display: none !important;
}

.grid-floats {
  background-image: repeating-linear-gradient(to right, transparent 0.125%, transparent 8.2083333333%, rgba(222, 184, 135, 0.15) 8.2083333333%, rgba(222, 184, 135, 0.15) 8.4583333333%);
  padding: 2rem 0;
}
.grid-floats__container {
  margin: 3rem 0;
}
.grid-floats [class*=column-] {
  float: left;
  font-family: "Nosifer", cursive, Arial, Helvetica, sans-serif;
  text-align: center;
  word-break: break-all;
  font-size: calc(1vw + 0.1rem);
  box-shadow: inset 0 0 0 5px indigo;
  line-height: 1.6;
}
.grid-floats [class*=column-] > span {
  display: block;
  font-size: 2rem;
}
.grid-floats .column-1 {
  width: 8.3333333333%;
}
.grid-floats .column-2 {
  width: 16.6666666667%;
}
.grid-floats .column-3 {
  width: 25%;
}
.grid-floats .column-4 {
  width: 33.3333333333%;
}
.grid-floats .column-5 {
  width: 41.6666666667%;
}
.grid-floats .column-6 {
  width: 50%;
}
.grid-floats .column-7 {
  width: 58.3333333333%;
}
.grid-floats .column-8 {
  width: 66.6666666667%;
}
.grid-floats .column-9 {
  width: 75%;
}
.grid-floats .column-10 {
  width: 83.3333333333%;
}
.grid-floats .column-11 {
  width: 91.6666666667%;
}
.grid-floats .column-12 {
  width: 100%;
}

.grid-floats__columns12 .grid-floats__row .column-1:nth-child(1) {
  background-color: red;
  color: aqua;
}
.grid-floats__columns12 .grid-floats__row .column-1:nth-child(2) {
  background-color: yellow;
  color: blue;
}
.grid-floats__columns12 .grid-floats__row .column-1:nth-child(3) {
  background-color: lime;
  color: fuchsia;
}
.grid-floats__columns12 .grid-floats__row .column-1:nth-child(4) {
  background-color: aqua;
  color: red;
}
.grid-floats__columns12 .grid-floats__row .column-1:nth-child(5) {
  background-color: blue;
  color: yellow;
}
.grid-floats__columns12 .grid-floats__row .column-1:nth-child(6) {
  background-color: fuchsia;
  color: lime;
}
.grid-floats__columns12 .grid-floats__row .column-1:nth-child(7) {
  background-color: #ff8000;
  color: #0080ff;
}
.grid-floats__columns12 .grid-floats__row .column-1:nth-child(8) {
  background-color: #80ff00;
  color: #8000ff;
}
.grid-floats__columns12 .grid-floats__row .column-1:nth-child(9) {
  background-color: #00ff80;
  color: #ff0080;
}
.grid-floats__columns12 .grid-floats__row .column-1:nth-child(10) {
  background-color: #0080ff;
  color: #ff8000;
}
.grid-floats__columns12 .grid-floats__row .column-1:nth-child(11) {
  background-color: #8000ff;
  color: #80ff00;
}
.grid-floats__columns12 .grid-floats__row .column-1:nth-child(12) {
  background-color: #ff0080;
  color: #00ff80;
}

.grid-floats__container {
  padding: 1rem 0;
}
.grid-floats .grid-floats__row, .grid-floats .row {
  background: linear-gradient(to right, red, red 8.3333333333%, yellow 8.3333333333%, yellow 16.6666666667%, lime 16.6666666667%, lime 25%, aqua 25%, aqua 33.3333333333%, blue 33.3333333333%, blue 41.6666666667%, fuchsia 41.6666666667%, fuchsia 50%, #ff8000 50%, #ff8000 58.3333333333%, #80ff00 58.3333333333%, #80ff00 66.6666666667%, #00ff80 66.6666666667%, #00ff80 75%, #0080ff 75%, #0080ff 83.3333333333%, #8000ff 83.3333333333%, #8000ff 91.6666666667%, #ff0080 91.6666666667%, #ff0080 100%);
}

.grid-floats__columns2 {
  background-image: repeating-linear-gradient(to right, transparent 0.125%, transparent 49.875%, rgba(75, 0, 130, 0.5) 49.875%, rgba(75, 0, 130, 0.5) 50.125%);
}
.grid-floats__columns6 {
  background-image: repeating-linear-gradient(to right, transparent 0.125%, transparent 16.5416666667%, rgba(75, 0, 130, 0.5) 16.5416666667%, rgba(75, 0, 130, 0.5) 16.7916666667%);
}

.grid-floats__search {
  margin: 2em 0 0;
}
.grid-floats--plain-theme {
  margin-bottom: 0;
}
.grid-floats__labels > * {
  display: block;
  font-family: "Baloo Chettan 2", "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
  margin: 1em 0;
  font-size: 1.8rem;
}
.grid-floats__labels button {
  border: none;
  padding: 0.3em;
  width: 100%;
  background-color: Lavender;
  cursor: pointer;
  box-shadow: 0 0 2px 0 indigo;
}
.grid-floats__labels button:hover {
  box-shadow: inset 0 0 4px indigo;
}
.grid-floats__labels input[type=text] {
  width: 100%;
  border: none;
  line-height: 2;
  background-color: Bisque;
  padding: 0 0.5em;
}
.grid-floats__labels ::placeholder {
  color: rgba(25, 25, 112, 0.6);
}
.grid-floats__labels #grid-floats__info {
  color: IndianRed;
  text-align: center;
}

.grid-floats h2, .grid-floats h3 {
  font-family: "Nosifer", cursive, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  text-align: center;
  margin: 2em 0 1em;
  padding: 0 0.5em 0;
}
.grid-floats h3 {
  font-size: 2rem;
  color: SaddleBrown;
  margin: 0;
}
.grid-floats p {
  margin: 1em 0;
}
.grid-floats--plain-theme {
  background-color: GhostWhite;
  color: MidnightBlue;
  max-width: 90%;
  margin: 2.5em auto;
  padding: 2em 2em 1em;
  box-shadow: 1px -1px 1px 0 rgba(222, 184, 135, 0.5);
}
.grid-floats code {
  font-family: "Baloo Chettan 2", "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
  letter-spacing: 1px;
}
.grid-floats pre {
  display: flex;
  margin: 2em 0;
  word-break: break-all;
}
.grid-floats pre code {
  background-color: Bisque;
  margin: 0 auto;
  padding: 0.5em 1em;
}
.grid-floats .grid-floats__list-12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  list-style: none;
  z-index: -1;
}
.grid-floats .grid-floats__list-12 .column-1 {
  box-shadow: none;
  color: rgba(222, 184, 135, 0.5);
  font-size: calc(4vw);
  line-height: 1;
}

@media only screen and (min-width: 62em) {
  .grid-floats--plain-theme {
    max-width: 50%;
  }
}

/*# sourceMappingURL=style.comp.css.map */
