html {
	box-sizing: border-box;
	font-family: $font_main;
	font-size: 62.5%;
	background-color: color.change($color_bg, $alpha: 0.2);
}
*, ::before, ::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	font-size: 1.6rem;
	line-height: 1.4;
	color: $color_font;
}
.clearfix::before, .clearfix::after {
	display:table;
	content: '';
}
.clearfix::after {
	clear:both;
}
.hidden {
	display: none !important;
}

