.grid-floats {
	&__search {
		margin: 2rem 0;

	}
	&__labels {
		&>* {
			display: block;
			font-family: $font-2;
			margin: 1rem 0;
			font-size: 1.6rem;
		}
		button {
			border: none;
			padding: 0.5em;
			width: 100%;
			background-color: $color-5;
			cursor: pointer;
			box-shadow: 0 0 2px 0 $color-3;
			&:hover {
				box-shadow: inset 0 0 4px $color-3;
			}
		}
		input[type="text"] {
			width: 100%;
			border: 1px slid $color-5;
			line-height: 2;
		}
		#grid-floats__info {
			color: $color-6;
			text-align: center;
		}
	}
}