$font-main: "Raleway", 'Open Sans', Tahoma, 'Geneva', Arial, sans-serif;
$font-1: 'Nosifer', cursive, Arial, Helvetica, sans-serif;
$font-2:  'Baloo Chettan 2', 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
$color_font: indigo;
$color_bg: Bisque;
$color-1: BurlyWood;
$color-2: GhostWhite;
$color-3: indigo;
$color-4: MidnightBlue;
$color-5: Lavender;
$color-6: IndianRed;
$color-7: SaddleBrown;

$color-red: hsl(0, 100%, 50%);
$color-yellow: hsl(60, 100%, 50%);
$color-green: hsl(120, 100%, 50%);
$color-cyan : hsl(180, 100%, 50%);
$color-blue : hsl(240, 100%, 50%);
$color-magneta :hsl(300, 100%, 50%);

$color-yellow_red : hsl(30, 100%, 50%);
$color-green_yellow : hsl(90, 100%, 50%);
$color-cyan_green : hsl(150, 100%, 50%);
$color-blue_cyan : hsl(210, 100%, 50%);
$color-magneta_blue : hsl(270, 100%, 50%);
$color-red_magneta : hsl(330, 100%, 50%);
