$font_main: 'Nosifer', cursive, Arial, Helvetica, sans-serif;
$color_font: indigo;
$color_bg: #fffaf6;
$color-1: #ffd1bb;
$color-2: #e4815d;
$color-3: indigo;//#421930; // #9c4b28;

$color-red: hsl(0, 100%, 50%);
$color-yellow: hsl(60, 100%, 50%);
$color-green: hsl(120, 100%, 50%);
$color-cyan : hsl(180, 100%, 50%);
$color-blue : hsl(240, 100%, 50%);
$color-magneta :hsl(300, 100%, 50%);

$color-yellow_red : hsl(30, 100%, 50%);
$color-green_yellow : hsl(90, 100%, 50%);
$color-cyan_green : hsl(150, 100%, 50%);
$color-blue_cyan : hsl(210, 100%, 50%);
$color-magneta_blue : hsl(270, 100%, 50%);
$color-red_magneta : hsl(330, 100%, 50%);
