$font-main: "Raleway", "Open Sans", tahoma, "Geneva", arial, sans-serif;
$font-1: "Nosifer", cursive, arial, helvetica, sans-serif;
$font-2: "Baloo Chettan 2", "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
$color_font: indigo;
$color_bg: bisque;
$color-1: burlywood;
$color-2: ghostwhite;
$color-3: indigo;
$color-4: midnightblue;
$color-5: lavender;
$color-6: indianred;
$color-7: saddlebrown;
$color-red: hsl(0deg 100% 50%);
$color-yellow: hsl(60deg 100% 50%);
$color-green: hsl(120deg 100% 50%);
$color-cyan: hsl(180deg 100% 50%);
$color-blue: hsl(240deg 100% 50%);
$color-magneta: hsl(300deg 100% 50%);
$color-yellow_red: hsl(30deg 100% 50%);
$color-green_yellow: hsl(90deg 100% 50%);
$color-cyan_green: hsl(150deg 100% 50%);
$color-blue_cyan: hsl(210deg 100% 50%);
$color-magneta_blue: hsl(270deg 100% 50%);
$color-red_magneta: hsl(330deg 100% 50%);
